.Contact {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.Contact__left-side { 
  max-width: 500px;
}

.left-side__title {
  font-size: 2.6rem;
}

.left-side__text {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: justify;
}

.left-side__social-media {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.left-side__social-media a {
  margin: 0 1rem;
}

.left-side__social-media img {
  width: 4rem;
}

.Contact__right-side {
  width: 60%;
  max-width: 400px;
  min-width: 100%;
  padding: 2rem;
  background-color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Input { 
  margin: 14px 0;
}

.right-side__message {
  padding: 0 .5rem;
  background: transparent;
  border: 2px solid #fff;
  font-size: 1.6rem;
  color: #fff;
}

.right-sode__send-message {
  padding: .5rem 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

/* SMALL SCREENS */
@media screen and (max-width: 650px) {
  .Contact {
    grid-template-columns: 1fr;
  }
}
