.Nav {
  grid-column: 2/3;
  justify-self: end;
}

.Nav__links {
  display: flex;
}

.Nav__links li {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
}

.Nav__links li::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.Nav__links li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* SMALL SCREENS */
@media screen and (max-width: 650px) {
  .Nav {
    display: none;
  }

  .nav-open .Nav {
    grid-column: 1/3;
    justify-self: center;
    display: flex;
  }

  .Nav__links {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .Nav__links li {
    margin: 2rem 0;
    font-size: 5rem;
  }
}