@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

:root {
  --side-padding: 4rem;
  --section-margin: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #F9F9F9;
}

a {
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  outline: none;
  resize: none;
}

/* MEDIUM SCREENS */
@media screen and (max-width: 960px) {
  :root {
    --side-padding: 3rem;
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 600px) {
  :root {
    --side-padding: 2rem;
  }

  * {
    font-size: 50%;
  }
}